<div class="content">
    <div class="container">
        <h4 class="title mb-5">
            Vez do jogador {{ game.user }}
        </h4>

        <div class="game">
            <div>
                @for (line of game.lines; track i; let i = $index) {
                    <div class="line">
                        @for (field of line; track j; let j = $index) {
                            <div (click)="select(i, j)" class="field">
                                {{ field }}
                            </div>
                        }
                    </div>
                }
            </div>

            <div>
                @for (item of game.possibleResults; track i; let i = $index) {
                    <span class="marcacao animate__animated animate__fadeIn"
                          [ngClass]="{'show': (i + 1) === game.count}"
                          [class]="'marcacao' + (i + 1)"></span>
                }
            </div>
        </div>

        <div class="results mt-5">
            <div class="d-flex justify-content-center">
                <div class="mx-5">Vitórias X: {{ game.wins }}</div>
                <div class="mx-5">Vitórias Y: {{ game.loss }}</div>
                <div class="mx-5">Empates: {{ game.draw }}</div>
            </div>
        </div>

        <div class="mt-4">
            <button (click)="reset()" class="btn btn-outline-primary btn-lg">
                Zerar dados
            </button>
        </div>
    </div>

    <app-win></app-win>
    <app-draw></app-draw>
</div>

<app-welcome></app-welcome>
